/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f9fa;
    padding: 10px;
}

.navbar-brand img {
    width: 100px;
}

.navbar-nav .nav-link {
    display: flex;
    align-items: center;
}

.navbar-nav .nav-link img {
    width: 40px;
    margin-right: 5px;
}

.dropdown-menu {
    min-width: 120px;
}

/* Content */
.container {
    margin-top: 20px;
}

input[type="text"] {
    width: 100%;
    max-width: 300px;
    padding: 10px;
}

.btn {
    padding: 10px 20px;
    margin-top: 10px;
}

.custom-file-label {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#file-name {
    margin-top: 10px;
    display: block;
}
